.table-header,
.incident{

display:grid;

grid-template-columns:2fr 3fr 1fr 2fr 2fr;

gap:20px;

align-items:center;

}

.table-header{

background:#334155;

padding:18px;

border-radius:12px;

font-weight:600;

margin-top:25px;

margin-bottom:15px;

}

.incident{

background:#1E293B;

padding:18px;

border-radius:12px;

margin-bottom:12px;

}

.status-open{

color:#EF4444;

font-weight:bold;

}

.status-resolved{

color:#22C55E;

font-weight:bold;

}